.main {
    height: 938px;
    background: url(../../assets/login.jpg) no-repeat center 0;
    background-size: 1903px 938px;
  }

.loginForm {
    position: absolute;
    width:280px;
    height:320px;
    padding: 20px;
    background:rgba(255,255,255,.55);
    border-radius: 5px;
    top:240px;
    right:400px;
}
.footer {
    padding-left : 1440px !important;
}